.caja {
  display:inline;
  font-family:sans-serif;
  margin-right:5px;
}

.amarillo {
  background-color: #FFE300;
}

.rojo {
  background-color: #FF0A09;
  border: 1px solid black;
}

.text-uppercase {
  text-transform: uppercase;
}
